/tmp/
!/tmp/.keep
/node_modules/
!/node_modules/.keep

/public/
!/public/.keep

/static/js/
!/static/js/.keep
/static/images/
!/static/images/.keep
/static/css/
!/static/css/.keep

/data/js/hash.json
/data/images/hash.json
/data/css/hash.json
