<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Hello, world!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="images/{{ index .Site.Data.images.hash "icon.png" | default "icon.png" }}">
        <link rel="stylesheet" href="css/{{ index .Site.Data.css.hash "main.css" | default "main.css" }}">
    </head>
    <body>
        {{ partial "browserupgrade.html" }}

        <!-- Add your site or application content here -->
        <p>Hello world! Read more: <a href="https://github.com/ngrash/static-web-template/">github.com/ngrash/static-web-template</a>.</p>

        {{ partial "footer/scripts.html" . }}
        {{ partial "footer/google-analytics.html" . }}
    </body>
</html>
